{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
	<h1>change password</h1>
	{% if msg %}
		<b><p style="color:blue;">{{msg}}</p></b>
	{% endif %}
	<form name="change_password" method="POST" action="{% url 'change_password' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td>old password</td>
				<td><input type="password" name="oldpassword"></td>
			</tr>
			<tr>
				<td>new password</td>
				<td><input type="password" name="newpassword"></td>
			</tr>
			<tr>
				<td>confirm password</td>
				<td><input type="password" name="cnpassword"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="action" value="Change password " class="btn ">
				</td>
			</tr>
		</table>
	</form>
</center>	
</body>
</html>
{% endblock %}