{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<center>
    <h1>forgot password</h1>
    {% if msg %}
        <b><p style="color:blue;">{{msg}}</p></b>
    {% endif %}
    <form name="forgot_passwd" method="POST" action="{% url 'forgot_passwd' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>email</td>
                <td><input type="text" name="email"></td>
            </tr>
            
            
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="action" value="send otp" class="btn ">
                </td>
                
            </tr>
        </table>
    </form>
</center>   
</body>
</html>
{% endblock %}