{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	{% if cart %}
    <center><h2>Total qty: {{cart.count}}</h2></center>
    <form name="pay" method="POST" action="#">
        {% csrf_token %}
    <center>
      <input type="hidden" name="amount" value="{{net_price}}">
      <h3>Net price: {{net_price}} &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit"  value="Checkout"></h3></center>
    </form>
  {% else %}
      <center><h1>no item found </h1></center>
  {% endif %}

	<div class="row">
	{% for i in cart %}
		<div class="col-sm-3" >
			<div class="container">
				<div class="card"  padding: 20px>
  					<img src="{{i.area.Image1.url}}" class="card-img-top" width=200px height=200pxs>
  						<div class="card-body">
    						<p class="card-title">Area: {{i.area.Area}} </p>
    						<p class="card-text">Price: {{i.Price}} </p>
    						<p class="card-text">  <b class="card-text">Total price: {{i.total_price}} </b></p>

    						
    				 		<p><a href="{% url 'user_moredetails' pk=i.area.pk %}" class="btn btn-primary">More Details</a></p>
 				 		</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
</body>
</html>
{% endblock %}
