{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<center>
    <h1>update password</h1>
    {% if msg %}
        <b><p style="color:blue;">{{msg}}</p></b>
    {% endif %}
    <form name="update password" method="POST" action="{% url 'new_password' %}">
        {% csrf_token %}
        <table>
        
            <td><input type="hidden" name="email" value="{{email}}"></td>

            <tr>
                <td>New Password</td>
                <td><input type="password" name="npassword"></td>
            </tr>

            <tr>
                <td>Confirm New Password</td>
                <td><input type="password" name="cnewpassword"></td>
            </tr>
            
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="action" value="Update Password" class="btn_primary ">
                </td>
            </tr>
        </table>
    </form>
</center>   
</body>
</html>
{% endblock %}