{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<center>
    <h1>One-Time Password</h1>
    {% if msg %}
        <b><p style="color:blue;">{{msg}}</p></b>
    {% endif %}
    <form name="otp" method="POST" action="{% url 'otp' %}">
        {% csrf_token %}
        <table>
            <td><input type="hidden" name="otp1" value="{{otp}}"></td>
            <td><input type="hidden" name="email" value="{{email}}"></td>

            <tr>
                <td>Enter Your otp </td>
                <td><input type="password" name="otp2"></td>
            </tr>
            
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="action" value="verify otp" class="btn_primary ">
                </td>
            </tr>
        </table>
    </form>

</center>   
</body>
</html>
{% endblock %}